# Apps-
Django==1.11.1
djangorestframework==3.6.3
psycopg2==2.7.1
Pillow==4.1.1
django_compressor==2.1.1
django-libsass==0.7
django-rest-swagger==2.1.2
pytablewriter==0.27.1
sorl-thumbnail==12.3
arrow==0.10.0
-e git+https://github.com/ardzix/django-datatable.git#egg=datatable
