<li class="treeview">
    <a href="{% url 'app:dashboard' %}"><i class="fa fa-home "></i><span>Dashboard</span></a>
</li>
<li class="treeview">
    <a href="{% url 'app:customer' %}"><i class="fa fa-user "></i><span>Pelanggan</span></a>
</li>
<li class="treeview">
    <a href="{% url 'app:facility' %}"><i class="fa fa-gamepad "></i><span>Fasilitas</span></a>
</li>
<li class="treeview">
    <a href="{% url 'app:volume' %}"><i class="fa fa-object-group  "></i><span>Volume</span></a>
</li>
<li class="treeview">
    <a href="{% url 'app:witness' %}"><i class="fa fa-users  "></i><span>Saksi</span></a>
</li>
<li class="treeview">
    <a href="{% url 'app:file' %}"><i class="fa fa-file  "></i><span>File</span></a>
</li>
<li class="treeview">
    <a href="{% url 'app:purchase' %}"><i class="fa fa-dollar  "></i><span>Pembelian</span></a>
</li>
<li class="treeview">
    <a href="{% url 'app:installment' %}"><i class="fa fa-credit-card   "></i><span>Cicilan</span></a>
</li>
<li class="treeview">
    <a href="{% url 'app:finance' %}"><i class="fa fa-line-chart   "></i><span>Keuangan</span></a>
</li>